* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}
body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    text-size-adjust: 100%;
    font-size: 16px;
}
h3 {
    padding: 8px 16px;
    font-size: 24px;
}
.IzbornikStavka {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 8px 16px;
}
h1 {
    margin: 10px 0;
    font-size: 64px;
    font-weight: 500;
}
h2 {
    font-size: 48px;
    color: #f44336;
    font-weight: 500;
}
h3 {
    font-weight: 400;
    padding: 0;
    margin: 0;
}
hr {
    width: 50px;
    border: 5px solid red;
    border-radius: 4px;
    margin-left: 0;
}
nav {
    position: fixed;
    width: 20%;
    background-color: #f44336;
    height: 100%;
    color: white;
    font-weight: bold;
}
#dugmic {
    margin-left: 10%;
    margin-top: 5%;
    font-size: 22pt;
}
#IzbornikDugme {
    display: none;
}
#wrapper {
    margin-left: 20%;
    padding: 5%;
    width: 80%;
}
p {
    padding-top: 1%;
}
[id^="radnik"] {
    width: 25%;
    padding: 1%;
}

.tekstRadnika {
    background-color: lightgray;
}

.tekstRadnika button {
    margin: 0.5rem;
}
#RadnikKontejner {
    display: flex;
}
#RadnikKontejner img {
    width: 100%;
    border: 1px solid black;
}
#tekstRadnika h3,
p {
    text-align: left;
}
#tekstRadnika button {
    margin-top: 5%;
    padding: 3%;
    border: none;
    background-color: white;
}
#tekstRadnika {
    background-color: rgb(230, 230, 230);
    padding: 2%;
    text-align: center;
}
input,
textarea {
    width: 100%;
}
textarea {
    padding: 1%;
}
.BtnSend {
    width: 100%;
    border: none;
    background-color: #f44336;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}
.error {
    color: red;
}
@media screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
    }
    nav {
        position: relative;
        width: 100%;
        text-align: center;
    }
    #IzbornikDugme {
        display: inline;
    }
    .IzbornikStavka {
        background-color: rgba(204, 204, 204, 0.5);
        margin: 0% 3% 0% 3%;
        border-bottom: 1px solid white;
    }
    #Izbornik {
        margin-bottom: 3%;
    }
    #dugmic {
        text-align: left;
    }
    #wrapper {
        margin: 0;
        width: 100%;
    }
}
